<div class="container-fluid pt-3">
    <div class="row pt-5">
        <div class="col-6 offset-3 text-center p-5 border border-1 border-secondary border-opacity-50">
            <h1 class=" w-100 fw-light text-light">DNS Lookup</h1>
            <div class="text-light ">
            <p class="py-1">This tool will complete a full DNS lookup on the provided domain. </p>
            </div>
            <div class="px-5">
                <%= form_with url: '/lookup', method: :post, local: true do |form| %>
                    <% form.label :query, "Domain Name:", class:"form-label" %>
                    <%= form.text_field :domain, class:"form-control", placeholder: "eg. apple.com.au", spellcheck: false %>
                    <% form.select :type, ["All", "A", "MX", "NS", "TXT", "SOA"], class:"form-select form-select-sm" %>
                    <%= form.submit "Go", class: "btn btn-primary mt-3", style: "width: 100px" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
